<form action="/" method="POST" enctype="multipart/form-data">
  <h3> Upload file</h3>
  {{! to comment in handlebar: this represents let sampleFile }}
  <input type="file" name="sampleFile" accept="image/*"/> 
  <input type="submit" class="btn btn-primary">
</form>

<div class="card">
  <img class="card_image" src="/images/adorable-blur-breed-close-up-406014.jpg" alt="User Profile">
  <h2 class="card_title">Hello Again</h2>
  <button type="button" class="btn btn-primary"> View Profile</button>
</div>