body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: cadetblue;
}

.wrapper {
  display: grid;
  place-items: center; /*doesnt work on edge and ie*/
}

.card {
  text-align: center;
  width: 500px;
  padding: 10px;
  background-color: bisque;
  margin-top: 100px;
}

.card_image {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}